/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --color-primario: #2563eb;
  --color-fondo: #f3f4f6;
}

@utility input-academia {
  @apply mt-1 w-full rounded-md border p-2 text-black outline-none transition-all;
  @apply focus:ring-2 focus:ring-blue-500 disabled:bg-gray-100;
}

@utility btn-academia {
  @apply w-full rounded-md py-2 text-white font-semibold transition-all;
  @apply bg-blue-600 hover:bg-blue-700 active:scale-[0.95];
  @apply disabled:opacity-70 disabled:cursor-not-allowed;
}

@utility btn-secondary {
  @apply w-full rounded-md py-2 text-gray-700 font-semibold border border-gray-300 transition-all;
  @apply bg-white hover:bg-gray-50 active:scale-[0.95];
  @apply disabled:opacity-70 disabled:cursor-not-allowed;
}